.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  width: 750px;
  height: auto;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 400px;
}

.product .description {
  font-size: 25px;
  text-align: center;
}

.counthandler {
  margin-bottom: 25px;
}