.container {
  margin-left: 750px;
  margin-top: 150px;
  width: 450px;
  height: 400px;
}

.formClass {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: rgb(67, 161, 67);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.link-btn {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.link-btn:hover {
  color: #0056b3;
}